h1 { 
    color:#3a6464;
}
 #css1{ 
    font-size:30px;
    color:#3a6464  ;
    background-color:burlywood;
    border: 2px solid black; 
} 
 
#css2{ 
    font-size:30px;
    color:#094d4d  ;
    background-color:rgb(236, 160, 61);
    border: 2px solid black; 
} 

#css3{ 
    font-size:30px;
    color:#7fb3b3  ;
    background-color:rgb(155, 120, 74);
    border: 2px solid black; 
} 


